* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				font-family: sans-serif;
}

.container {
				width: 100vw;
				height: 100vh;
				overflow: hidden;
}

.row-img {
				width: 100%;
				height: 100%;
				background-color: salmon;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
}

.row-img img {
				width: 200px;
				height: 200px;
				object-fit: cover;
				animation: scaleUp .4s ease-in forwards;
				background-color: #fff;
				margin: 10px 0;
}

.fluid-img {
				position: relative;
				width: 100%;
				height: 100%;
				background-color: #6a8eff;
				animation: fadeIn .8s ease-in forwards;
}

.col-img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
}

.col-img img {
				width: 100%;
				height: 100%;
				object-fit: cover;
}

.teks {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				z-index: 10;
				padding: 0 10px;
				color: #fff;
}

.teks p:last-child {
				font-weight: bold;
}

.col-end {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				background-color: salmon;
				color: #fff;
				animation: fadeIn .6s ease-in forwards;
}

.col-end h1 {
				opacity: 0;
				animation: fadeIn 1s ease-in forwards;
				animation-delay: .8s;
}


@keyframes scaleUp {
				0% {
								transform: scale(.2);
				}
				80% {
								transform: scale(1.1);
				}
				100% {
								transform: scale(1);
				}
}

@keyframes fadeIn {
				from {
								opacity: 0;
				}
				to {
								opacity: 1;
				}
}

@media (min-width: 1024px) {
	body::after {
		content: "Only Mobile Device";
		width: 100vw;
		height: 100vh;
		background-color: #000;
		color: #fff;
		font-size: 4em;
		text-align: center;
		line-height: 400px;
		position: absolute;
		top: 0;
		z-index: 9999999;
	}
}